body{
    width:100%;
    height: fit-content;
    overflow: hidden;
}

.alert-sukses{
    text-align: center;
    background-color: lightcoral;
    display: block;
    height: 50px;
}

.alert-delete{
    text-align: center;
    background-color: lightgreen;
    display: block;
    height: 50px;
}

.tambah{
    margin-top:20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
}

.div-tmbh{
    width: fit-content;
    height: fit-content;
}

.tmbh-btn{
   color: black;
   text-decoration: none;
   background-color: yellow;
   border: 1pt;
   border-color: black;
   padding: 10px 40px;
   border-style: solid;
}

.edit-btn{
    color: black;
    text-decoration: none;
    background-color: blue;
    border-color: transparent;
    padding: 10px 20px; 
}

.detail-btn{
    color: black;
    text-decoration: none;
    background-color: yellow;
    border-color: transparent;
    padding: 10px 20px;
}

.delete-btn{
    color: black;
    text-decoration: none;
    background-color: red;
    border-color: transparent;
    padding: 10px 20px;
}

table, th, td{
    border: 1px solid black;
    text-align: center;
}

table{
    border-collapse: collapse;
}

th, td{
    padding: 15px;
}

th{
    background-color: #4CAF50;
    color: white;
}